DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=midterm
# Uncomment and set to true for Heroku
DB_SSL=true if heroku
DB_PORT=5432
DB_URL=postgres://ijekjkkravzpqd:f3b0ca0f0e189702801efd52e59f39bd33dda8ccae081f0ff5616e411ef8df71@ec2-34-235-108-68.compute-1.amazonaws.com:5432/d1lka2orapsrl9
