<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.scss" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>

  <body>
    <!-- Modal -->
    <div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog form-dark" role="document">
      <!--Content-->
      <div class="modal-content card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg');">
        <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
          <!--Header-->
          <div class="modal-header text-center pb-4">
            <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel"><strong>SIGN</strong> <a
                class="green-text font-weight-bold"><strong> UP</strong></a></h3>
            <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--Body-->
          <div class="modal-body">
            <!--Body-->
            <div class="md-form mb-5">
              <input type="email" id="Form-email5" class="form-control validate white-text">
              <label data-error="wrong" data-success="right" for="Form-email5">Your email</label>
            </div>
            <div class="md-form pb-3">
              <input type="password" id="Form-pass5" class="form-control validate white-text">
              <label data-error="wrong" data-success="right" for="Form-pass5">Your password</label>
              <div class="form-group mt-4">
                <input class="form-check-input" type="checkbox" id="checkbox624">
                <label for="checkbox624" class="white-text form-check-label">Accept the<a href="#" class="green-text font-weight-bold">
                    Terms and Conditions</a></label>
              </div>
            </div>
            <!--Grid row-->
            <div class="row d-flex align-items-center mb-4">
              <!--Grid column-->
              <div class="text-center mb-3 col-md-12">
                <button type="button" class="btn btn-success btn-block btn-rounded z-depth-1">Sign up</button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
            <!--Grid row-->
            <div class="row">
              <!--Grid column-->
              <div class="col-md-12">
                <p class="font-small white-text d-flex justify-content-end">Have an account? <a href="#" class="green-text ml-1 font-weight-bold">
                Log in</a></p>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
        </div>
      </div>
      <!--/.Content-->
    </div>
    </div>
    <!-- Modal -->
    <!-- Header -->
    <script src="public/scripts/header.js"></script>
    <div class="topnav">
      <a class="home" href="/">
        <img class="logo" src="https://files.slack.com/files-pri/T2G8TE2E5-FTE1BNS91/output-onlinepngtools__3_.png" alt="logo">
      </a>
      <!-- Search form -->
      <input class="search" type="text" placeholder="Search">
        <a id="modalBtn" href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#darkModalForm">Login/Register</a>
      <a class="user" href="/user">
        <img class="user"src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png"alt="user">
      </a>
    </div>
    <!-- Main Content -->
    <div class="masonry-wrapper">
      <div class="masonry">
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/325?image=100" alt="Dummy Image">
          <h3 class="masonry-title">Nesciunt aspernatur eaque similique laudantium a</h3>
          <p class="masonry-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda modi inventore, totam vero consequuntur, aut animi veritatis tempora nulla facere placeat velit illum explicabo dicta enim ipsum. Vitae ducimus, ratione.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/450?image=200" alt="Dummy Image">
          <h3 class="masonry-title">Consequatur adipisci neque possimus quod ut quidem omnis numquam dolorum</h3>
          <p class="masonry-description">Consectetur adipisicing elit. Sit enim ipsam mollitia repellat nemo, accusantium? Fugit id ipsam libero vitae quas perferendis, delectus a amet perspiciatis iusto. Quia, quam, culpa.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/280?image=300" alt="Dummy Image">
          <h3 class="masonry-title">Adipisci alias ullam est accusamus</h3>
          <p class="masonry-description">Adipisci repellendus ratione laudantium nisi eaque voluptatem fuga quod hic, explicabo amet at laborum maiores ducimus et a vel quidem dolorem modi.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/540?image=400" alt="Dummy Image">
          <h3 class="masonry-title">Dolor sit amet, consectetur adipisicing elit</h3>
          <p class="masonry-description">Vitae est numquam, dolore, ipsum tempora molestiae. Ut optio natus velit eaque tempora commodi dolor doloremque error quidem labore, incidunt odit est nobis numquam. Ullam quas minima, neque modi reiciendis consequuntur inventore!</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/380?image=500" alt="Dummy Image">
          <h3 class="masonry-title">Veritatis aut repellendus, quidem nesciunt consequatur nulla sed itaque</h3>
          <p class="masonry-description">Expedita voluptate similique ad harum dolorem nam ipsa repellat quos, autem eius magni minima, asperiores nobis repudiandae ut quibusdam atque! Delectus atque veniam labore suscipit ullam, consequuntur dicta, tenetur est nulla, quod obcaecati similique?</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/300?image=600" alt="Dummy Image">
          <h3 class="masonry-title">Culpa quo animi ut temporibus, et distinctio facere perspiciatis saepe sunt unde</h3>
          <p class="masonry-description">Iusto magni quasi recusandae autem ipsum asperiores consequatur explicabo, vero nam iste quas sequi reiciendis quod, quos!</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/400?image=700" alt="Dummy Image">
          <h3 class="masonry-title">Molestiae quod consectetur enim modi unde expedita dicta placeat?</h3>
          <p class="masonry-description">Aliquam laudantium mollitia quo sint maxime omnis repellendus beatae. Consequuntur molestias odio sapiente. Officia minima, nisi! Tempora vero, architecto ducimus animi nostrum nobis aliquid eligendi illo, facilis temporibus.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/300?image=800" alt="Dummy Image">
          <h3 class="masonry-title">Sit amet, consectetur adipisicing elit. Incidunt, commodi!</h3>
          <p class="masonry-description">Accusamus culpa maxime harum minus ipsa ea qui, blanditiis sequi debitis. Temporibus quisquam consequatur dolor, aliquid odio nulla dolorum animi quasi et! Reiciendis ipsum repellendus quaerat explicabo, laboriosam amet, temporibus at sed voluptatibus, minima quia.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/280?image=900" alt="Dummy Image">
          <h3 class="masonry-title">Inventore ducimus, voluptate a nostrum molestiae non</h3>
          <p class="masonry-description">Similique officia recusandae, at labore quae, minus aspernatur cupiditate repellendus optio nesciunt iure aliquid praesentium, omnis, quas est natus temporibus aliquam vero.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/480?image=925" alt="Dummy Image">
          <h3 class="masonry-title">Voluptatum nisi, nostrum eaque consequatur officiis similique!</h3>
          <p class="masonry-description">Soluta eius itaque, molestiae laborum! Facere velit reiciendis quis architecto vel minima consequuntur voluptates temporibus consequatur, aperiam maiores! Perferendis quos architecto quaerat, aliquid earum culpa labore.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/550?image=950" alt="Dummy Image">
          <h3 class="masonry-title">Perspiciatis non voluptatibus quo ab doloremque accusantium</h3>
          <p class="masonry-description">Eligendi similique excepturi cumque nemo modi voluptates mollitia atque doloribus, laborum magnam itaque a! Dignissimos expedita vel minus impedit laudantium.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/600?image=1000" alt="Dummy Image">
          <h3 class="masonry-title">Quam id laudantium debitis perferendis neque perspiciatis!</h3>
          <p class="masonry-description">Deleniti blanditiis iste cupiditate ea obcaecati corporis, quas nobis possimus molestiae. Sed, minima.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/325?image=25" alt="Dummy Image">
          <h3 class="masonry-title">Nesciunt aspernatur eaque similique laudantium a</h3>
          <p class="masonry-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda modi inventore, totam vero consequuntur, aut animi veritatis tempora nulla facere placeat velit illum explicabo dicta enim ipsum. Vitae ducimus, ratione.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/450?image=50" alt="Dummy Image">
          <h3 class="masonry-title">Consequatur adipisci neque possimus quod ut quidem omnis numquam dolorum</h3>
          <p class="masonry-description">Consectetur adipisicing elit. Sit enim ipsam mollitia repellat nemo, accusantium? Fugit id ipsam libero vitae quas perferendis, delectus a amet perspiciatis iusto. Quia, quam, culpa.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/280?image=75" alt="Dummy Image">
          <h3 class="masonry-title">Adipisci alias ullam est accusamus</h3>
          <p class="masonry-description">Adipisci repellendus ratione laudantium nisi eaque voluptatem fuga quod hic, explicabo amet at laborum maiores ducimus et a vel quidem dolorem modi.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/540?image=100" alt="Dummy Image">
          <h3 class="masonry-title">Dolor sit amet, consectetur adipisicing elit</h3>
          <p class="masonry-description">Vitae est numquam, dolore, ipsum tempora molestiae. Ut optio natus velit eaque tempora commodi dolor doloremque error quidem labore, incidunt odit est nobis numquam. Ullam quas minima, neque modi reiciendis consequuntur inventore!</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/380?image=125" alt="Dummy Image">
          <h3 class="masonry-title">Veritatis aut repellendus, quidem nesciunt consequatur nulla sed itaque</h3>
          <p class="masonry-description">Expedita voluptate similique ad harum dolorem nam ipsa repellat quos, autem eius magni minima, asperiores nobis repudiandae ut quibusdam atque! Delectus atque veniam labore suscipit ullam, consequuntur dicta, tenetur est nulla, quod obcaecati similique?</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/300?image=161" alt="Dummy Image">
          <h3 class="masonry-title">Culpa quo animi ut temporibus, et distinctio facere perspiciatis saepe sunt unde</h3>
          <p class="masonry-description">Iusto magni quasi recusandae autem ipsum asperiores consequatur explicabo, vero nam iste quas sequi reiciendis quod, quos!</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/400?image=175" alt="Dummy Image">
          <h3 class="masonry-title">Molestiae quod consectetur enim modi unde expedita dicta placeat?</h3>
          <p class="masonry-description">Aliquam laudantium mollitia quo sint maxime omnis repellendus beatae. Consequuntur molestias odio sapiente. Officia minima, nisi! Tempora vero, architecto ducimus animi nostrum nobis aliquid eligendi illo, facilis temporibus.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/300?image=200" alt="Dummy Image">
          <h3 class="masonry-title">Sit amet, consectetur adipisicing elit. Incidunt, commodi!</h3>
          <p class="masonry-description">Accusamus culpa maxime harum minus ipsa ea qui, blanditiis sequi debitis. Temporibus quisquam consequatur dolor, aliquid odio nulla dolorum animi quasi et! Reiciendis ipsum repellendus quaerat explicabo, laboriosam amet, temporibus at sed voluptatibus, minima quia.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/280?image=225" alt="Dummy Image">
          <h3 class="masonry-title">Inventore ducimus, voluptate a nostrum molestiae non</h3>
          <p class="masonry-description">Similique officia recusandae, at labore quae, minus aspernatur cupiditate repellendus optio nesciunt iure aliquid praesentium, omnis, quas est natus temporibus aliquam vero.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/480?image=250" alt="Dummy Image">
          <h3 class="masonry-title">Voluptatum nisi, nostrum eaque consequatur officiis similique!</h3>
          <p class="masonry-description">Soluta eius itaque, molestiae laborum! Facere velit reiciendis quis architecto vel minima consequuntur voluptates temporibus consequatur, aperiam maiores! Perferendis quos architecto quaerat, aliquid earum culpa labore.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/550?image=275" alt="Dummy Image">
          <h3 class="masonry-title">Perspiciatis non voluptatibus quo ab doloremque accusantium</h3>
          <p class="masonry-description">Eligendi similique excepturi cumque nemo modi voluptates mollitia atque doloribus, laborum magnam itaque a! Dignissimos expedita vel minus impedit laudantium.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/600?image=300" alt="Dummy Image">
          <h3 class="masonry-title">Quam id laudantium debitis perferendis neque perspiciatis!</h3>
          <p class="masonry-description">Deleniti blanditiis iste cupiditate ea obcaecati corporis, quas nobis possimus molestiae. Sed, minima.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/325?image=13" alt="Dummy Image">
          <h3 class="masonry-title">Nesciunt aspernatur eaque similique laudantium a</h3>
          <p class="masonry-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda modi inventore, totam vero consequuntur, aut animi veritatis tempora nulla facere placeat velit illum explicabo dicta enim ipsum. Vitae ducimus, ratione.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/450?image=26" alt="Dummy Image">
          <h3 class="masonry-title">Consequatur adipisci neque possimus quod ut quidem omnis numquam dolorum</h3>
          <p class="masonry-description">Consectetur adipisicing elit. Sit enim ipsam mollitia repellat nemo, accusantium? Fugit id ipsam libero vitae quas perferendis, delectus a amet perspiciatis iusto. Quia, quam, culpa.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/280?image=39" alt="Dummy Image">
          <h3 class="masonry-title">Adipisci alias ullam est accusamus</h3>
          <p class="masonry-description">Adipisci repellendus ratione laudantium nisi eaque voluptatem fuga quod hic, explicabo amet at laborum maiores ducimus et a vel quidem dolorem modi.</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/540?image=52" alt="Dummy Image">
          <h3 class="masonry-title">Dolor sit amet, consectetur adipisicing elit</h3>
          <p class="masonry-description">Vitae est numquam, dolore, ipsum tempora molestiae. Ut optio natus velit eaque tempora commodi dolor doloremque error quidem labore, incidunt odit est nobis numquam. Ullam quas minima, neque modi reiciendis consequuntur inventore!</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/380?image=65" alt="Dummy Image">
          <h3 class="masonry-title">Veritatis aut repellendus, quidem nesciunt consequatur nulla sed itaque</h3>
          <p class="masonry-description">Expedita voluptate similique ad harum dolorem nam ipsa repellat quos, autem eius magni minima, asperiores nobis repudiandae ut quibusdam atque! Delectus atque veniam labore suscipit ullam, consequuntur dicta, tenetur est nulla, quod obcaecati similique?</p>
        </div>
      </div>
      <div class="masonry-item">
        <div class="masonry-content">
          <img src="https://picsum.photos/450/300?image=78" alt="Dummy Image">
          <h3 class="masonry-title">Culpa quo animi ut temporibus, et distinctio facere perspiciatis saepe sunt unde</h3>
          <p class="masonry-description">Iusto magni quasi recusandae autem ipsum asperiores consequatur explicabo, vero nam iste quas sequi reiciendis quod, quos!</p>
        </div>
      </div>
    </div>
    <div class="masonry-footer">
      <p>Created with &#10084; with <a href="//w3bits.com/tools/masonry-generator/" target="_blank" rel="external noopener nofollow">CSS Masonry Generator</a></p>
    </div>
    </div>
   </body>
</html>
