<!-- <head>
  </head>
<div id="resourcemodal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" >
      <img class="resource-image" src="<%=data.image_url%>" alt="Topic" >

      <div class="dynamic-content">
          <h3 class="resource-title"><%=data.title%></h3>
        <p class="resource-description"><%=data.description%></p>

    </div>
    <div class="interaction-container" >
      <div id="respond" >

        <form action="post_comment.php" method="post" id="commentform">


          <textarea class="comment-field" name="comment" id="comment" rows="3"
          tabindex="4"  required="required" placeholder="Leave a comment!"></textarea>


          <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
          <input name="submit" type="submit" value="Submit comment" />

        </form>

        </div>
        <div class="rating">
          <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>

        </div>
        <button class="add-to-favorites" onclick="myFunction()"> Favorite this?</button>

      </div>

  </div>


</div> -->

