// modal window properties
form-dark .font-small {
  font-size: 0.8rem; }

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
  font-size: 0.8rem; }

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px; }

.form-dark .md-form label {
  color: #fff; }

.form-dark input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid #FF8C03;
  -webkit-box-shadow: 0 1px 0 0 #FF8C03;
  box-shadow: 0 1px 0 0 #FF8C03; }

.form-dark input[type=email]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #4B9998;
  -webkit-box-shadow: 0 1px 0 0 #4B9998;
  box-shadow: 0 1px 0 0 #4B9998; }

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #fff;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.form-dark input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #4B9998 #4B9998 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.form-dark .modal-header {
    border-bottom: none;
}


#modalBtn, #modalBtn-login{

  margin-left: 2em;

  color: rgb(155, 221, 220);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(80, 68, 90);
  border-top: 1px solid rgb(148, 94, 133);
  border-left: 1px solid rgb(148, 94, 133);
  border-right: 2px solid  rgb(73, 55, 90);
  border-bottom: 2px solid rgb(73, 55, 90);
  border-radius: 15px;
  padding: 10px 20px
}
///////////////

.user, .logo {
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 200px;
  float: right;
  vertical-align: middle;
  box-sizing: content-box;
  margin-top: 0.8%;
  margin-right: 3%;
}

.search {
  margin: auto;
  width: 50%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(26, 120, 187);
  border-top: 2px solid rgb(73, 55, 90);
  border-left: 2px solid rgb(73, 55, 90);
  border-right: 1px solid rgb(148, 94, 133);
  border-bottom: 1px solid rgb(148, 94, 133);
  border-radius: 15px;
  padding: 10px;
  margin-top: 0.8%;
  margin-left: 2%;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(80, 68, 90);
  border-bottom: 2px solid rgb(77, 65, 88);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Style the links inside the navigation barrrr */
.topnav .home {
  background-color: #285864;

  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav .home:hover {
  background-color: #D35050;
  color: #285864;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #285864;
  color: white;
}

body {
  background-color: #cccccc;
  color: #333333;
}
.masonry-wrapper {
  padding: 1.5em;
  /* max-width: 960px; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 4em;
}
.masonry {
  columns: 1;
  column-gap: 10px;
}
.masonry-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.masonry-item h6 {
  margin-left: 25px;
}

.masonry-item:hover {
  background-color: white;

}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    columns: 2;
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    columns: 3;
  }
}
.masonry-item, .masonry-content {
  border-radius: 4px;
  overflow: hidden;
}
.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
  transition: filter .25s ease-in-out;
}
.masonry-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
  border: solid 4px rgb(218, 109, 109);
}
.masonry-content {
  overflow: hidden;
}

.masonry-content > img {
  width: 100%;
}
.masonry-item {
  color: #293C42;
  background-color: rgb(247, 235, 229);
  border-right: solid 4px rgb(233, 215, 206);
  border-bottom: solid 4px rgb(233, 215, 206);
  border-top: solid 4px rgb(255, 244, 239);
  border-left: solid 4px rgb(255, 244, 239)

}
.masonry-title, .masonry-description {
  margin: 0;
}
.masonry-title {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
  color: #4B9998;
}
.masonry-description {
  padding: 1.5rem;
  font-size: .75rem;
  border-top: 1px solid #293C42;
}
.masonry-footer {
  font-size: .75em;
  opacity: .25;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: -1.5em;
  transition: opacity 1s ease-in-out;
}
.masonry-footer a {
  color: currentColor;
}
.masonry-footer:hover, .masonry-footer:active, .masonry-footer:focus {
  opacity: .75;
}

.mr-auto {
  margin-left: auto;
 }
 .modal-content {
  position: relative;
  padding: 25px;

 }

 .dynamic-content {
   width: 50%;
 }

 img.resource-image {
  height: 100%;
    width: 40%;
    object-fit: cover;
    }

.interaction-container {
  text-align: center;
  width: 45%;
  position: absolute;
  right: 25px;
}

.resource-title {
  font-size: 15px;
}
.resource-description {
  width: 100%;
}

.rating > span:hover:before {
  content: "\2605";
  position: absolute;
  color: gray;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,

.rating > span:hover ~ span:before {
   content: "\2605";
   color: rgb(248, 223, 0);
   position: absolute;
}

.add-to-favorites {
  color: blue($color: #000000);
}


 .container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */

#image-buttons .btn{
  width: 20%;
  border: solid 1px white;
  transition: transform .2s; /* Animation */
  background-color: grey;
  font-size: 20px;
  padding: 16px;
  border-radius: 12px;
}
#image-buttons .btn:hover {
  transform: scale(1.5);/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  box-shadow: 0 5px 5px 0 rgb(0, 0, 0);
}
#image-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
}

// background image
body{
    background: url('../img/blurredbackground.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

//creating posts
#create-post{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;
  border-color: #D35050;
  border-radius: 15px 50px 30px;
  color: #D35050;
  width: 80%;
  padding: 10%;
  margin-left: 10%;
  margin-top: 10%;
  text-align: center;
  padding: 5%;;
  margin-bottom: 10px;
  background-color: #293C42;
}

.description{
  width: 80%;
  height: 100px;
  border-radius: 20px;
  border: 1px solid;
  border-color: #D35050;
}

.button-create{
  width: 60%;
  background-color: #D35050;
  border: solid;
  border: rgb(255, 255, 255);
  margin-top: 2%;
}

.title{
  margin-bottom: 10px;
  border: 1px solid;
  border-color: #D35050;
}

.choose-file{
  border: 1px solid;
  border-color: #D35050;
}

.interaction-wrapper{
  position: absolute;
  display: none;
}

.comment_block {
  height: 250px;
  overflow: scroll;
}

#logInName {
  color: red;
  margin-left: 40px;
}

.url {
  margin-top: 2%;
}
.image_url {
  margin-top: 2%;
}
